<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<form class="name-form" method="post" action="/submit-name">
    <div class="form-group">
        <input type="text" name="name" class="form-input" placeholder="Введите ваше имя" required maxlength="50">
    </div>
    
    <div class="form-footer">
        <button type="submit" class="submit-btn">Отправить</button>
    </div>
</form>

<script src="/script.js"></script>
</body>
</html>